.title {
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #484848;
    text-align: center;
    font-size: 28px;
    margin: 0;
}

.empty-list {
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #484848;
    font-size: 32px;
    text-align: start;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.image {
    width: 100px;
    height: 80px;
}

table {
    width: 90%;
    margin: 0 auto;
}

.paginator {
    width: 90%;
    margin: 0 auto;
}

.mat-sort-header-container {
    display:flex;
    justify-content:center;
}

th.mat-header-cell {
    font-size: 16px;
    text-align: center !important;
    color: #333333;
    margin: 0 auto;
}

td.mat-cell {
    text-align: center !important;
    padding: 6px 0 3px 0;
    color: #6C6C6C;
    font-weight: normal;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
}

.row:hover {
    background-color: rgba(242, 237, 237, 0.52);;
}

.star {
    padding-bottom: 2px;
    color: gold;
    font-size: 18px;
}

.purchase-subtitle-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px
}
