.logo-icon {
    width: 161px;
    height: 33px;
    left: 25px;
    top: 22px;
    cursor: pointer;
}

.logo-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
    padding-top: 45px;
    padding-bottom: 20px;
    cursor: pointer;
}
