<div class="info-group">
    <div>
        <p class="title">Get Work Done With Outsource Owl</p>
        <div class="subtitle">
            <img src="assets/icons/done_icon.svg" alt="done icon"/>
            <p>Payment Protection, Guaranteed</p>
        </div>
        <p class="text">Payment is released to the freelancer once you’re pleased and<br>
            approve the work you get.</p>
        <div>
            <div class="subtitle">
                <img src="assets/icons/done_icon.svg" alt="done icon"/>
                <p>Know The Price Upfront</p>
            </div>
            <p class="text">Find any service within minutes and know exactly what you’ll pay.<br>
                No hourly rates, just a fixed price.</p>
        </div>
        <div>
            <div class="subtitle">
                <img src="assets/icons/done_icon.svg" alt="done icon"/>
                <p>We’re Here For You 24/7</p>
            </div>
            <p class="text">Outsource Owl is here for you, anything from answering any questions to<br>
                resolving any issues, at any time.</p>
        </div>
    </div>
    <img src="assets/icons/mug_banner.svg" alt="white mug with a quotation">
</div>
