<div class="group">
    <img src="assets/icons/owl_logo.svg" alt="outsource owl"/>
    <p class="text">Create your new job</p>
</div>
<form [formGroup]="createJobForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" maxlength="150">
            <mat-error *ngIf="(createJobForm.get('name').hasError('minlength') ||
                              createJobForm.get('name').hasError('maxlength')) &&
                              !createJobForm.get('name').hasError('required')">
                Name should contain between 10 and 150 characters.
            </mat-error>
            <mat-error *ngIf="createJobForm.get('name').hasError('required')">
                Name is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input type="text" matInput formControlName="price" maxlength="5">
            <mat-error *ngIf="createJobForm.get('price').hasError('pattern') &&
                              !createJobForm.get('price').hasError('min') &&
                              !createJobForm.get('price').hasError('maxlength') &&
                              !createJobForm.get('price').hasError('required')">
                Price should contain only numbers.
            </mat-error>
            <mat-error *ngIf="(createJobForm.get('price').hasError('min') ||
                              createJobForm.get('price').hasError('maxlength')) &&
                              !createJobForm.get('price').hasError('pattern') &&
                              !createJobForm.get('price').hasError('required')">
                Price should be at least {{5 | currency: 'EUR':'symbol'}}.
            </mat-error>
            <mat-error *ngIf="createJobForm.get('price').hasError('required')">
                Price is required.
            </mat-error>
        </mat-form-field>
        <div>
            <label for="image-upload" class="custom-file-upload">
                <i class="material-icons upload-icon">cloud_upload</i> Upload Image
            </label>
            <input id="image-upload" type="file" formControlName="previewImage" (change)="saveFileName($event)">
            <p *ngIf="fileName !== undefined && fileName !== null">
                <span>{{fileName}}</span>
            </p>
        </div>
        <mat-form-field>
            <mat-label>Days Until Delivery</mat-label>
            <input type="text" matInput formControlName="daysUntilDelivery">
            <mat-error *ngIf="createJobForm.get('daysUntilDelivery').hasError('pattern') &&
                              !createJobForm.get('daysUntilDelivery').hasError('min') &&
                              !createJobForm.get('daysUntilDelivery').hasError('max') &&
                              !createJobForm.get('daysUntilDelivery').hasError('required')">
                Days Until Delivery should contain only numbers.
            </mat-error>
            <mat-error *ngIf="(createJobForm.get('daysUntilDelivery').hasError('min') ||
                              createJobForm.get('daysUntilDelivery').hasError('max')) &&
                               !createJobForm.get('daysUntilDelivery').hasError('required')">
                Days Until Delivery should be between 1 and 30 days.
            </mat-error>
            <mat-error *ngIf="createJobForm.get('daysUntilDelivery').hasError('required')">
                Days Until Delivery is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea rows="5" matInput formControlName="description"
                      placeholder="Enter your job description"></textarea>
            <mat-error *ngIf="createJobForm.get('description').hasError('minlength') &&
                               !createJobForm.get('description').hasError('required')">
                Days Until Delivery should at least 10 characters.
            </mat-error>
            <mat-error *ngIf="createJobForm.get('description').hasError('required')">
                Description is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId" placeholder="Select your job category">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error *ngIf="errMessage !== null">{{errMessage | titlecase}}</mat-error>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button type="submit" mat-raised-button class="create-job-button">Create Job</button>
        <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
    </mat-dialog-actions>
</form>
