.banner {
    width: 100%;
    height: auto;
    max-height: 90%;
}

.titleJobs {
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #484848;
    margin: 20px 0 5px 30px;
    text-align: center;
    font-size: 28px;
}
